<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand text-info" href="#">
      Asel
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"></div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home" routerLinkActive="active" (click)="scrollToTop()">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agentdetails" routerLinkActive="active" href="#">
            Agents
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus" routerLinkActive="active"  (click)="scrollToTop()">
            AboutUS
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Activities
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Events
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Galleries
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            ContactUS
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>