<div class="container mt-5">
    <h4>Life Of Young Engineers</h4>


    Life Of Young Engineers is the Friends Organization,Initiated by Mr.Kanagaraj Ramasamy(KR) by putting lot of efforts and spending so much of hard work and personal time. The reason that motivates KR to start this group is to help friends.
    
    This got started with one person and from there it grow to 256+ members with in the span of 1 year and the idea was started in 2015 by our great Mr.K.R.
    
    This organization will explain the details on immigration process and any queries and friends who are looking for job change or finding friends in the new location where people move first time for their job purpose.
    
</div>